.dragons_template
  margin-top: 20px

.categoryText
  color: $highlight!important
  opacity: 1

.dragon_container
  padding-bottom: 10px
  margin-bottom: 20px
  .dragon_header
    padding: 0 10px
    .header_picture
    .header_info
      .header_title
        .title_data
          line-height: 1
          padding: 10px 0 10px 10px
          h1, h2
            padding-left: 10px
            font-size: 25px
    .header_description
      display: flex
      flex-direction: column
      padding: 0 10px
      &_title
        padding: 10px 0 0 0
        margin-bottom: 10px
      &_link
        text-decoration: none
        color: $highlight !important

.dragon_details
  margin: 0 10px 0 10px
  padding: 10px

.details_title
  &_text
    line-height: 1
  &_choices
    .v-messages
      display: none
    .choices_container
      display: flex
      justify-content: flex-end
      align-items: center
      .choices_distance
        margin-top: 0
        padding-top: 0
      .choices_seperator
        height: 20px
        width: 2px
        background: rgba(0,0,0,0.5)
        margin-right: 10px
      .choices_weight
        margin-top: 0
        padding-top: 0

.details_general,
.details_component
  display: flex
  flex-direction: column
  .component_header
    font-weight: 600
    opacity: 0.9
    font-size: 16px
  .general_item
    display: flex
    align-items: center
    .item_key
      width: 50%
      padding: 0 0 0 0px
      margin: 0
      &_icon
        width: 40px
    .item_value
      width: 50%
      border: 1px solid rgba(0,0,0,0.1)
      border-radius: 5px
      background: #f2f2f2
      padding: 5px 0 5px 10px
      margin: 0
      box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.2)
      color: rgba(13,13,13,0.8)

.v-input__slot
  margin-bottom: 0

.v-input--selection-controls .v-input--selection-controls__input:hover .v-input--selection-controls__ripple:before
  background: $highlight

.flex-row
  display: flex
  flex-direction: row
  align-items: flex-end

.opacity04
  opacity: 0.4

.activeY,
.activeN
  height: 25px
  width: 50px
  border-radius: 5px
  margin-left: 10px

.activeY
  background-color: $activeY !important

.activeN
  background: $activeN !important
